@import './global.scss';

.dashboard{
   @extend .page;
   gap: 3rem;

   &__top {
         @extend .grid-col2;
   }

   &__middle{
       display : flex;
       flex-direction: column;
       align-items: center;
   }



   
    
}