@import "./variables.scss";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: $Poppins;
}

// app styles
.app {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.app__container {
  display: flex;
flex: 1;
  width: 100%;

  gap: 2rem;

  flex-direction: column;
}
.app__middle {
  display: flex;
  flex-grow: 1;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: white;
  border-radius: 10px;
  padding: 2rem;
  position: relative;
  margin: 0 auto;
}

/// util classes
.grid {
  display: grid;
  place-items: center;
  
}
.grid-col2 {
  width:100%;
  place-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  @media (max-width: 700px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 3rem;
  }
}
.flex {
  display: flex;
  align-items: center;
}



//general
.logo {
  max-width: 100%;
  height: 50px;
}

.icon {
  font-size: 20px;
}
.shadow {
  box-shadow: $Accent 1px 1px 1px 1px;
}
.menu__icon {
  display: flex;
  width: 100%;
  align-items: center;
}

.page {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 1450px;
  width: 100%;
  min-height: 700px;
  flex: 1;
}
.card {
  max-width: 28rem;
  width: 100%;
  min-height: 165px;
  background: white;
  border-radius: 10px;
  position: relative;
  display: flex;
  border-left: 20px solid $Black;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  @extend .shadow;

  .card__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .card__number {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 5px solid $Secondary;
      position: relative;

      span {
        width: 100%;
        position: absolute;
        left: 20px;
        top: 25px;
      }
    }

    h4 {
      font-weight: 300;
      font-size: 1.3rem;
    }
  }
  .icon__holder {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: $Accent;
    position: relative;
  }
  .card__icon {
    position: absolute;
    top: 20%;
    left: 20%;
    font-size: 2.4rem;
  }
}

.panel{
  @extend .grid;
  width: 100%;
  
}
.tabpanel{

width : 100%;
padding: 20px;


}

.menu_icons{
  margin-top: 8px;
  font-size: 2rem;
  padding: 0 10px;

}

.empty__state{
  @extend .grid;

  img{
    max-width: 100%;
    object-fit: contain;

  }
  h5{
    font-size: 1.3rem;
    text-align: center;
    font-weight: 500;
    padding: 10px;
  }
  button{
    padding: 8px;
    background : $Secondary;
    color: white;
    font-size: 1.1rem;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }


}

.__top{

  @extend .grid;
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
        padding-bottom :3rem;
        

        form{
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgb(255, 255, 255);
            padding: 1rem;
            border-radius: 20px;
            width: 100%;

            input{
                width: 100%;
                height :100%;
                padding: 15px;
                outline: none;
                border: none;
                
                flex-grow: 1;
            }
            button{
                outline: none;
                
                padding: 5px;
                border: none;
                height: 100%;
                background:$Secondary;
                color: white;
                cursor: pointer;

                font-size: 15px;
                border-radius: 10px ;
            }
          
        }
    }
  
    ._container{
       
        margin: 0 auto;
        @extend .grid-col2;
        gap: 3rem;
    }

    ._form{
     
      max-width: 450px;
      padding: 20px;
      min-height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      margin: 0 auto;
      @extend .shadow;

      input,select{
        width: 80%;
        padding: 8px;
        margin: 10px 0;
        border-radius: 5px;
        border: none;
        outline: none;
        @extend .shadow;
      }
      input[type=date] {
        text-align: right;
      }
      
      input[type="date"]:before {
        color: lightgrey;
        content: attr(placeholder) !important;
        margin-right: 0.3em;
        padding: 11px;
      }
      
      input[type="date"]:before {
        color: lightgrey;
        content: attr(placeholder) !important;
        margin-right: 0.5em;
      }
      
      input[type="date"]:focus:before {
        content: '' !important;
        color: #00a79d;
      }
      button{
        width: 50%;
        padding: 5px;
        margin: 10px auto;
        font-size: 20px;
        cursor: pointer;
        border: none;
        outline: none;
        border-radius: 5px;
        background: $Secondary;
        color: white;
      }



    }


