@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//font variables
$Poppins : 'Poppins', sans-serif;


//app colors
$Primary : #39A2DB;
$Secondary : #16C79A;
$Accent : #EEEEEE;
$White : #F9F7F7;
$Black : #272727;

container {
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 400px;
    left: 40%;
    background: $Primary;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(179, 179, 179, 0.7);
    z-index: 1;
    overflow: hidden;
  }

  